.wrapper {
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 18px;
  font-weight: 400;
  color: #2b3b39;
}
